:root {
    --primary-color: #e26e70;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background: linear-gradient( 45deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100% );

}

.btn {
    background: #fff;
    padding: 20px 40px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn:hover,
.modal__btn:hover,
.modal__header i:hover {
    opacity: 0.9;
}

/* Modal */

.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    animation: fadeIn 0.2s linear;
}

.modal__inner {
    width: 450px;
    height: 200px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    animation: show 0.2s linear;
}

.modal__header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
}

.modal__header h3 {
    font-size: 18px;
    line-height: 50px;
    font-weight: 400;
}

.modal__header i {
    font-size: 18px;
    line-height: 50px;
    cursor: pointer;
}

.modal__body {
    padding-left: 16px;
    padding-top: 16px;
}

.modal__body h2 {
    color: var(--primary-color);
}

.modal__body p {
    padding-top: 12px;
}


.modal__footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 16px;
    margin-top: 24px;
}

.modal__btn {
    background-color: var(--primary-color);
    color: #fff;
    font-size: 14px;
    padding: 9px 19px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

/* animation */

@keyframes fadeIn {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.6);

    }
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}